target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.idea
/petclinic-jakartaee.iml
/src/main/resources/META-INF/persistence.xml
/installs/
/.classpath
/.factorypath
/.project
/.settings/
/etc/html/
/src/main/resources/META-INF/sql/data.sql
